@import '~slick-carousel/slick/slick.css'; 
@import '~slick-carousel/slick/slick-theme.css';

:root {
  --lengthArray: 0; /* Tamanho do array */
  --slide: 0vw; /* variavel q controla o translateX, tem q ser o */
  --widthSlide: 0vw;  /* Tamanho do card */
  --MarginLeftRigh: 0; /* Distancia dos elementos */
  --scaleCard: 3; /* Scale do Card */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  overflow: auto;
  margin-top: 40px;
}

.cards_container {
  width: calc(calc(var(--widthSlide) /  var(--scaleCard)) * var(--lengthArray));
  display: flex;
  height: 100%;
  transform: translateX(calc(calc(100vw - calc(var(--widthSlide) /  var(--scaleCard))) / 2 + calc(var(--widthSlide) /  var(--scaleCard)) * -2));
}

.animationSlide {
  animation: slide 0.5s forwards;
}

@keyframes slide {
  to {
    transform: translateX(calc(calc(100vw - calc(var(--widthSlide) /  var(--scaleCard))) /2 + calc(var(--widthSlide) /  var(--scaleCard)) * -2 - calc(var(--slide) / var(--scaleCard))));
  }
}

.App button {
  position: fixed;
  z-index: 1;
}

.card {
  width: calc(var(--widthSlide) /  var(--scaleCard));
  height: 100%;
  position: relative;
  /* background-color: rgb(0, 0, 0); */
  margin: 0 var(--MarginLeftRigh);
  color: white;
  /* padding: 10px; */
}

.img_backGround {
  width: 100%;
  position: absolute;
}

.title {
  position: relative;
  z-index: 1;
}